html{
    height: 100%;
    width: 100%;
    font-size: 1.067235859124866595517609391676vh;
    
}
body{
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: rgb(0, 36, 36);
}

#navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
    background-color: rgb(1, 46, 46);
    display: flex;
    flex-direction: row;
    z-index: 1;
  
}
#links-group{
    display: flex;
    flex-direction: row;
    height: 5em;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#ext-group{
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 1em;
    top: 0;
    height: 5em;
}


#home-icon{
    position: fixed;
    top: 0;
    left: 0;
}

#jschmitt-svg{
    height: 5em;
    padding: 0em 2em;
    pointer-events: none;

}

#home-head{/*48.89px width*/
    font-size: 2em;
    padding: 0.75em 3.1515em;
    background-color: rgb(1, 46, 46);
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#contact-head{/*62.22*/
    font-size: 2em;
    padding: 0.75em 2.843em;
    background-color: rgb(1, 46, 46);
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#dropdown{
    display: flex;
    flex-direction: row;
    height: 5em;
    
}

#project-head{/*86.16*/
    font-size: 2em;
    padding: 0.75em 2.63275em;
    background-color: rgb(1, 46, 46);
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#projects-box{
    visibility: hidden;
    position: fixed;   
    top: 5em;
    right: 5%;
    height: 20em;
    width: 90em;
    background-color: rgba(1, 46, 46, 1);/*rgb(2, 95, 95);*/
    border: 1px solid rgb(2, 80, 80);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
    transition: opacity 0.3s; /*makes the menu transition to 100% opacity in 0.3s*/
    text-align: center;/*remove when project added*/
    
}

#filler{
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 3.6875em 0;
    color: white;
    display: inline-block;
    margin: auto;
}

#home-head:hover, #contact-head:hover, #project-head:hover{
    background-color: rgb(2, 95, 95);
}

#dropdown:hover #projects-box{

    visibility: visible;
    opacity: 1;
    z-index: 1;
}

#dropdown:hover #project-head{
    background-color: rgb(2, 95, 95);
}

.project{
    width: 10em;
    height: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2em 0;
    text-decoration: none;
    color: white;
}
.project:hover{
    color: rgb(105, 193, 223);
}






/*projects.html specific*/
.ext{
    background-size: 3em;
    height: 3em;
    width: 3em;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1em;
    z-index: 4;
 }

.linkedin{
    background-image: url("../img/768px-Linkedin_icon.svg.png");
}
.github{
    background-image: url("../img/git-icon-bad.png");
}
.ext:hover{
    background-color: rgb(2, 95, 95);
}

#wrapper{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

#default{

    position: absolute;
    font-size: 7em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

/*for mobile*/

@media screen and (max-width: 800px){
    html{
        font-size: 1.171875vw;
    }
    

    #dropdown:hover #projects-box{

        visibility: hidden;
    }

    #links-group{
        top: unset;
        bottom: 0;
        left: unset;
        transform: unset;
    }
    #mobile-nav{
        position: fixed;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5em;
        background-color: rgb(1, 46, 46);
        display: flex;
        justify-content: center;
    }
    #home-icon{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .ext{
        width: 4em;
        height: 4em;
        padding: 0.5em;
     }
     
    .ext:hover{
        background-color: rgb(2, 95, 95);
    }
  
}







